* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.header {
    // background: #fff;
    z-index: 2001;
    background: transparent;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px 2px lightgray;
}

.header__container {
    z-index: 2000;
    padding: 0px 81px;
    // background: #2B3844;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    #dark__mode {
        cursor: pointer;
    }
    h4 {
        text-align: center;
        font-weight: 800px;
        font-size: 24px;
        
    }
    a {
        text-decoration: none;
        color: black;
    }
}
.hero__container {
    // padding-top: 80px;
    // background: #f4f4f4;
    padding: 0px 81px;
    padding-top: 60px;
    .hero__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        p {
            color: black;
            position: relative;
            left: 30px;
            font-size: 18px;
            // cursor: pointer;
            opacity: 0.5;
            top: 38px;
        }
        input {
            padding: 18px 74px;
            width: 480px;
            border: none;
            box-shadow: 0px 2px 2px rgb(242, 240, 240), 2px 0px 2px rgb(242, 240, 240), 0px -2px 2px rgb(242, 240, 240), -2px 0px 2px rgb(242, 240, 240);
            border-radius: 5px;
            background: transparent;
        }
        select {
            background: transparent;
            box-shadow: 0px 2px 2px rgb(242, 240, 240), 2px 0px 2px rgb(242, 240, 240), 0px -2px 2px rgb(242, 240, 240), -2px 0px 2px rgb(242, 240, 240);
            // color: white;
            // position: relative;
            // top: 10px;
            // margin-top: 15px;
            max-width: 200px;
            height: 56px;
            padding: 18px 24px;
            border: none;
            border-radius: 5px;
            // border-right: 2px solid #fff
        }
    }
    .hero__hero {
        // margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
        
    }
    .hero__card {
        box-shadow: 0px 2px 2px rgb(242, 240, 240), 2px 0px 2px rgb(242, 240, 240),  -2px 0px 2px rgb(242, 240, 240);
        margin-top: 50px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        background: transparent ;
        z-index: 1;
        transition: all 0.5s;
        .hero__card--child p span {
            opacity: 0.8;
        }
        // box-shadow: 0px 2px 2px lightgray;
        cursor: pointer;
        .hero__card--child {
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            padding: 25px 15px;
            width: 264px;
        }
        .hero__card--child h4 {
            font-size: 18px;
            margin-bottom: 15px;
            font-weight: 800;
        }
        .hero__card--child p {
            margin-bottom: 5px;
        }
        .hero__card--child a {
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
            color: black;
        }
    }
    .hero__card:hover {
        transform: scale(1.05);
    }
}


.mask {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 75px;
    height: 75px;
    border: 10px dotted rgba(89, 196, 90, 0.6);
    border-radius: 50%;
    border-left-color: blue;
    border-right-color: blue;
    border-top-color: white;
    border-bottom-color: blue;
    animation: loader 0.75s ease infinite;
}
@keyframes loader {
    100% {
        transform: rotate(360deg);
        // transform: scale(1);
    }
}

.section__container {
    padding: 81px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 81px;
    button {
        border-radius: 4px;
        padding: 8px 20px;
        border: none;
        box-shadow: 0px 2px 2px rgb(242, 240, 240), 2px 0px 2px rgb(242, 240, 240), 0px -2px 2px rgb(242, 240, 240), -2px 0px 2px rgb(242, 240, 240);
        background: white;
        cursor: pointer;
        a {
            text-decoration: none;
            color: black;
            margin-left: 4px;
        }
    }
    .section__hero {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    .section__hero--data--block {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
        h1 {
            font-size: 32px;
            font-weight: 800;
            
        }
        .section__team {
            display: flex;
            flex-wrap: wrap;
            gap: 135px;
        }
        .section__team .section__hero--data--block1 p {
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
        }
        .section__team .section__hero--data--block2 p {
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
        }
    }
    .section__hero--data--block3 {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 90px;
        .section__btn--part button{
            margin-right: 10px;
        }
    }
  }

@media screen and (max-width: 824px) {
    .hero__container {
        padding: 0px 60px;
        position: relative;
        select {
            position: absolute;
            top: 100px;
            left: 60px;
        }
        input {
            max-width: 250px;
        }
        .hero__hero {
            margin-top: 80px;
        }
    }
    .section__container {
        padding: 50px;
    }

}
@media screen and (max-width: 716px) {
    .hero__container {
        padding: 0px 60px;
        position: relative;
        select {
            position: absolute;
            top: 100px;
            left: 60px;
        }
        input {
            max-width: 250px;
        }
        .hero__hero {
            margin-top: 80px;
        }
    }
    .section__container {
        padding: 50px;
    }

}
@media screen and (max-width: 658px) {
    .section__container {
        padding: 20px;
    }
}
@media screen and (max-width: 610px) {
    .container {
        max-width: 580px;
    }
    .hero__container {
        gap: 0px 50px;
        input {
            width: 400px;
        }
    }
}
@media screen and (max-width: 375px) {
    .container {
        max-width: 320px;
    }
    .header__container {
        padding: 0px 10px;
        h4 {
            font-size: 14px;
        }
    }
    .hero__container {
        padding: 0px 10px;
        position: relative;
        select {
            position: absolute;
            top: 100px;
            left: 10px;
        }
        input {
            max-width: 250px;
        }
        .hero__hero {
            margin-top: 80px;
        }
    }
    
}